#### In this project we will try to find out different certification effects on course revenue between two dataframes of different dates on Reed

In [1]:
# Import basic modules
import pandas as pd
import numpy as np

In [2]:
# Read to two csv files to to tack unit sale and actual revenue
preDf = pd.read_csv("11_Mar_15_providers.csv")
nextDf = pd.read_csv("19_Mar_15_providers.csv")
nextDf.head()

,courseId,courseTitle,subTitle,courseLink,courseProvider,unitSold,soldOrEnq,offerPrice,originalPrice,haveCpd,cpdAccreditedBy,othersAsCpd,haveProfQual,isRegulated,awrBodyName,awrBodyQualName,courseLevel
0,234929,Car Mechanic Training,Level 3 Endorsed Diploma by TQUK | 15 CPD Poin...,https://www.reed.co.uk/courses/car-mechanic-tr...,One Education,1461,"1,461 students purchased this course",14.0,199.0,yes,missing,Training Qualifications UK Ltd,yes,no,Training Qualifications UK Ltd,Level 3 Diploma in Car Mechanic (Endorsed Cert...,3.0
1,233863,120 hours TEFL (TESOL) Masterclass,Level 3 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/120-hours-tefl-...,One Education,668,668 students purchased this course,14.0,199.0,yes,missing,Training Qualifications UK Ltd,yes,no,Training Qualifications UK Ltd,Level 3 Diploma in TEFL/TESOL Masterclass (End...,3.0
2,246722,Level 3 Award in Education and Training - AET ...,Awarded by TQUK I Ofqual Regulated I Free PDF ...,https://www.reed.co.uk/courses/level-3-award-i...,One Education,661,661 students purchased this course,10.0,399.0,no,missing,missing,yes,yes,Training Qualifications UK Ltd,Level 3 Award in Education and Training (QCF),3.0
3,237280,Microsoft Excel Ultimate 5 Courses Bundle with...,Level 5 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/microsoft-excel...,One Education,1425,"1,425 students purchased this course",16.0,199.0,yes,missing,Training Qualifications UK Ltd,yes,no,Training Qualifications UK Ltd,Level 5 Diploma in Microsoft Excel (Endorsed C...,5.0
4,233696,UK Employment Law,Level 5 Endorsed Diploma by TQUK | 20 CPD Poin...,https://www.reed.co.uk/courses/uk-employment-l...,One Education,1246,"1,246 students purchased this course",14.0,199.0,yes,missing,Training Qualifications UK Ltd,yes,no,Training Qualifications UK Ltd,Level 5 Diploma in UK Employment Law (Endorsed...,5.0

In [3]:
# Merge two dataframes on course ids
mergedDf = pd.merge(nextDf,preDf,on="courseId",how="left",indicator=True)
# Common courses on both data
mergedBothDf = mergedDf[mergedDf._merge=="both"]
mergedBothDf.columns

Index(['courseId', 'courseTitle_x', 'subTitle_x', 'courseLink_x',
       'courseProvider_x', 'unitSold_x', 'soldOrEnq_x', 'offerPrice_x',
       'originalPrice_x', 'haveCpd_x', 'cpdAccreditedBy_x', 'othersAsCpd',
       'haveProfQual_x', 'isRegulated_x', 'awrBodyName_x', 'awrBodyQualName_x',
       'courseLevel_x', 'courseTitle_y', 'subTitle_y', 'courseLink_y',
       'courseProvider_y', 'unitSold_y', 'soldOrEnq_y', 'offerPrice_y',
       'originalPrice_y', 'haveCpd_y', 'cpdAccreditedBy_y', 'haveProfQual_y',
       'isRegulated_y', 'awrBodyName_y', 'awrBodyQualName_y', 'courseLevel_y',
       '_merge'],
      dtype='object')

In [4]:
# Column length to insert no of unit sold of course at the at of the dataframe
columnLengthForUnitSold = len(mergedBothDf.columns.values)

# Create a column name "unitSold" between two time duration at the the end of the mergedReqDf
mergedBothDf.insert(loc=columnLengthForUnitSold,value=mergedBothDf.unitSold_x-mergedBothDf.unitSold_y, column="unitSold")

# List to store actual revenue.
# According to Reed, the revenue earned by a provider varies according to following price s
actualRevenue = []
totalMissingOriginalPriceNextDay = mergedBothDf[mergedBothDf.originalPrice_x.isna()].courseProvider_x.value_counts().sum()
totalMissingOriginalPricePreDay = mergedBothDf[mergedBothDf.originalPrice_y.isna()].courseProvider_y.value_counts().sum()

if totalMissingOriginalPriceNextDay<totalMissingOriginalPricePreDay:
    for prc,sale in zip(mergedBothDf.offerPrice_x,mergedBothDf.unitSold):
        if 10<=prc<100:
            actualRevenue.append(prc*0.4*sale)
        elif 100<=prc<150:
            actualRevenue.append(prc*0.55*sale)

        elif 150<=prc<200:
            actualRevenue.append(prc*0.6*sale)

        elif 200<=prc<300:
            actualRevenue.append(prc*0.7*sale)

        elif 300<=prc<500:
            actualRevenue.append(prc*0.75*sale)

        elif 500<=prc:
            actualRevenue.append(prc*0.8*sale)
else:
    for prc,sale in zip(mergedBothDf.offerPrice_y,mergedBothDf.unitSold):
        if 10<=prc<100:
            actualRevenue.append(prc*0.4*sale)
        elif 100<=prc<150:
            actualRevenue.append(prc*0.55*sale)

        elif 150<=prc<200:
            actualRevenue.append(prc*0.6*sale)

        elif 200<=prc<300:
            actualRevenue.append(prc*0.7*sale)

        elif 300<=prc<500:
            actualRevenue.append(prc*0.75*sale)

        elif 500<=prc:
            actualRevenue.append(prc*0.8*sale)

# Create a new colum named actual revenue at the end of the current df
columnLengthForActualRevenue = len(mergedBothDf.columns.values)
mergedBothDf.insert(loc=columnLengthForActualRevenue,value=actualRevenue,column="actualRevenue")

In [5]:
# Insert another column named "totalQualification" combining cpdAccreditedBy and awrbodyname
totalQual = mergedBothDf.cpdAccreditedBy_y.str.strip() + "+" + mergedBothDf.awrBodyName_x
mergedBothDf.insert(loc=5,value=totalQual,column="totalQual")

In [6]:
# Lets look at those 3 columns
mergedBothDf[["totalQual","cpdAccreditedBy_y","awrBodyName_x"]].head()

,totalQual,cpdAccreditedBy_y,awrBodyName_x
0,CPD Accreditation Group+Training Qualification...,CPD Accreditation Group,Training Qualifications UK Ltd
1,CPD Accreditation Group+Training Qualification...,CPD Accreditation Group,Training Qualifications UK Ltd
2,Ofqual+Training Qualifications UK Ltd,Ofqual,Training Qualifications UK Ltd
3,The CPD Group+Training Qualifications UK Ltd,The CPD Group,Training Qualifications UK Ltd
4,CPD Accreditation Group+Training Qualification...,CPD Accreditation Group,Training Qualifications UK Ltd

In [7]:
# Frequency of total qualifications
mergedBothDf["totalQual"].value_counts()

The CPD Certification Service+missing                                    1033
ABC Awards+ABC Awards                                                     861
CPD Accreditation Group+missing                                           634
The CPD Standards Office+missing                                          495
The CPD Group+missing                                                      27
CPD Accreditation Group+Training Qualifications UK Ltd                     26
Institute of Hospitality+missing                                           14
CPD Accretion Group+missing                                                10
Ofqual+Training Qualifications UK Ltd                                       7
The Institute Of Hospitality+missing                                        7
The CPD Certification Service+Institute of Hospitality                      6
The Institute of Hospitality+missing                                        4
PEOPLECERT+PEOPLECERT                                                       2
CPD Accreditation Group+Institute of Hospitality                            1
The CPD Accreditation Group+missing                                         1
The CPD Group+Training Qualifications UK Ltd                                1
Institute of Financial Accountants+Institute of Financial Accountants       1
CPD accrediting+missing                                                     1
Name: totalQual, dtype: int64

In [8]:
# Clean total qualification column
# Remove +missing and fillna with "missing". Note that backward slash
mergedBothDf.loc[:,"totalQual"] = mergedBothDf.loc[:,"totalQual"].str.replace("\+missing","").fillna("missing")
mergedBothDf.totalQual.value_counts()

/home/faysal/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

missing                                                                  1266
The CPD Certification Service                                            1033
ABC Awards+ABC Awards                                                     861
CPD Accreditation Group                                                   634
The CPD Standards Office                                                  495
The CPD Group                                                              27
CPD Accreditation Group+Training Qualifications UK Ltd                     26
Institute of Hospitality                                                   14
CPD Accretion Group                                                        10
The Institute Of Hospitality                                                7
Ofqual+Training Qualifications UK Ltd                                       7
The CPD Certification Service+Institute of Hospitality                      6
The Institute of Hospitality                                                4
PEOPLECERT+PEOPLECERT                                                       2
CPD Accreditation Group+Institute of Hospitality                            1
Institute of Financial Accountants+Institute of Financial Accountants       1
The CPD Group+Training Qualifications UK Ltd                                1
The CPD Accreditation Group                                                 1
CPD accrediting                                                             1
Name: totalQual, dtype: int64

In [9]:
# Remove duplicates using set
mergedBothDf.totalQual = mergedBothDf.totalQual.str.split("+").map(set).astype(str).str.replace("{","").astype(str).str.replace("}","")

/home/faysal/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
# This is the cleaned totalQual
mergedBothDf.totalQual.value_counts()

'missing'                                                      1266
'The CPD Certification Service'                                1033
'ABC Awards'                                                    861
'CPD Accreditation Group'                                       634
'The CPD Standards Office'                                      495
'The CPD Group'                                                  27
'Training Qualifications UK Ltd', 'CPD Accreditation Group'      26
'Institute of Hospitality'                                       14
'CPD Accretion Group'                                            10
'Training Qualifications UK Ltd', 'Ofqual'                        7
'The Institute Of Hospitality'                                    7
'The CPD Certification Service', 'Institute of Hospitality'       6
'The Institute of Hospitality'                                    4
'PEOPLECERT'                                                      2
'Institute of Hospitality', 'CPD Accreditation Group'             1
'Institute of Financial Accountants'                              1
'Training Qualifications UK Ltd', 'The CPD Group'                 1
'The CPD Accreditation Group'                                     1
'CPD accrediting'                                                 1
Name: totalQual, dtype: int64

In [11]:
# Checkout the column again
mergedBothDf.head()

,courseId,courseTitle_x,subTitle_x,courseLink_x,courseProvider_x,totalQual,unitSold_x,soldOrEnq_x,offerPrice_x,originalPrice_x,...,haveCpd_y,cpdAccreditedBy_y,haveProfQual_y,isRegulated_y,awrBodyName_y,awrBodyQualName_y,courseLevel_y,_merge,unitSold,actualRevenue
0,234929,Car Mechanic Training,Level 3 Endorsed Diploma by TQUK | 15 CPD Poin...,https://www.reed.co.uk/courses/car-mechanic-tr...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",1461,"1,461 students purchased this course",14.0,199.0,...,yes,CPD Accreditation Group,no,no,missing,missing,missing,both,34.0,190.4
1,233863,120 hours TEFL (TESOL) Masterclass,Level 3 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/120-hours-tefl-...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",668,668 students purchased this course,14.0,199.0,...,yes,CPD Accreditation Group,no,no,missing,missing,missing,both,14.0,78.4
2,246722,Level 3 Award in Education and Training - AET ...,Awarded by TQUK I Ofqual Regulated I Free PDF ...,https://www.reed.co.uk/courses/level-3-award-i...,One Education,"'Training Qualifications UK Ltd', 'Ofqual'",661,661 students purchased this course,10.0,399.0,...,no,Ofqual,yes,yes,missing,missing,missing,both,13.0,52.0
3,237280,Microsoft Excel Ultimate 5 Courses Bundle with...,Level 5 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/microsoft-excel...,One Education,"'Training Qualifications UK Ltd', 'The CPD Group'",1425,"1,425 students purchased this course",16.0,199.0,...,yes,The CPD Group,no,no,missing,missing,missing,both,7.0,44.8
4,233696,UK Employment Law,Level 5 Endorsed Diploma by TQUK | 20 CPD Poin...,https://www.reed.co.uk/courses/uk-employment-l...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",1246,"1,246 students purchased this course",14.0,199.0,...,yes,CPD Accreditation Group,no,no,missing,missing,missing,both,16.0,89.6

In [12]:
# Extract the required columns
reqDf = mergedBothDf.loc[:,["courseId",
                            "courseTitle_x",
                            "subTitle_x",
                            "courseLink_x",
                            "courseProvider_x",
                            "totalQual",
                            "offerPrice_x",
                            "unitSold",
                            "actualRevenue"
                            ]]
# Remove "_x" from column names
reqDf.columns = reqDf.columns.str.replace("_x","")

# And checkout the final df
reqDf.head()

,courseId,courseTitle,subTitle,courseLink,courseProvider,totalQual,offerPrice,unitSold,actualRevenue
0,234929,Car Mechanic Training,Level 3 Endorsed Diploma by TQUK | 15 CPD Poin...,https://www.reed.co.uk/courses/car-mechanic-tr...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",14.0,34.0,190.4
1,233863,120 hours TEFL (TESOL) Masterclass,Level 3 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/120-hours-tefl-...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",14.0,14.0,78.4
2,246722,Level 3 Award in Education and Training - AET ...,Awarded by TQUK I Ofqual Regulated I Free PDF ...,https://www.reed.co.uk/courses/level-3-award-i...,One Education,"'Training Qualifications UK Ltd', 'Ofqual'",10.0,13.0,52.0
3,237280,Microsoft Excel Ultimate 5 Courses Bundle with...,Level 5 Endorsed Diploma by TQUK | 40 CPD Poin...,https://www.reed.co.uk/courses/microsoft-excel...,One Education,"'Training Qualifications UK Ltd', 'The CPD Group'",16.0,7.0,44.8
4,233696,UK Employment Law,Level 5 Endorsed Diploma by TQUK | 20 CPD Poin...,https://www.reed.co.uk/courses/uk-employment-l...,One Education,"'Training Qualifications UK Ltd', 'CPD Accredi...",14.0,16.0,89.6

In [13]:
# No of courses by awarding bodies
reqDf.groupby("totalQual").courseTitle.count().sort_values(ascending=False).to_frame("totalCourses").head(10)

                                                    totalCourses
totalQual
'missing'                                                   1266
'The CPD Certification Service'                             1033
'ABC Awards'                                                 861
'CPD Accreditation Group'                                    634
'The CPD Standards Office'                                   495
'The CPD Group'                                               27
'Training Qualifications UK Ltd', 'CPD Accredit...            26
'Institute of Hospitality'                                    14
'CPD Accretion Group'                                         10
'Training Qualifications UK Ltd', 'Ofqual'                     7

In [14]:
# Total revenue across different certifications and providers. Make totalRevenue and courseProvider column again
groupedRevenueByTotalQualAndProvider = reqDf.groupby(["totalQual","courseProvider"]).actualRevenue.sum().sort_values(ascending=False).to_frame().reset_index(level=["courseProvider","totalQual"]).round()
groupedRevenueByTotalQualAndProvider.head()

                         totalQual        courseProvider  actualRevenue
0  'The CPD Certification Service'            Be-a.co.uk         2413.0
1                     'ABC Awards'           CPD Courses         2309.0
2  'The CPD Certification Service'         Oplex Careers         1975.0
3        'CPD Accreditation Group'         One Education         1484.0
4  'The CPD Certification Service'  Centre of Excellence         1411.0

In [15]:
# Create a pivot table with values actualRevenue and make courseProvider column again
pivotGroupedRevenueByTotalQualAndProvider = groupedRevenueByTotalQualAndProvider.pivot_table(index="courseProvider", columns="totalQual", values="actualRevenue", fill_value=0).reset_index(level="courseProvider")
pivotGroupedRevenueByTotalQualAndProvider

totalQual,courseProvider,'ABC Awards','CPD Accreditation Group','CPD Accretion Group','CPD accrediting','Institute of Financial Accountants','Institute of Hospitality',"'Institute of Hospitality', 'CPD Accreditation Group'",'PEOPLECERT','The CPD Accreditation Group','The CPD Certification Service',"'The CPD Certification Service', 'Institute of Hospitality'",'The CPD Group','The CPD Standards Office','The Institute Of Hospitality','The Institute of Hospitality',"'Training Qualifications UK Ltd', 'CPD Accreditation Group'","'Training Qualifications UK Ltd', 'Ofqual'","'Training Qualifications UK Ltd', 'The CPD Group'",'missing'
0,Be-a.co.uk,0,0,0,0,0,0,0,0,0,2413,0,0,0,0,0,0,0,0,288
1,Brentwood Open learning College,1285,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,CPD Courses,2309,0,0,0,0,0,0,0,0,0,0,0,132,0,0,0,0,0,0
3,Centre of Excellence,0,0,0,0,0,0,0,0,0,1411,0,0,39,0,0,0,0,0,0
4,Course Gate,800,712,22,0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,322
5,Euston College,587,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Excel with Business,0,0,0,0,0,0,0,0,0,652,0,0,0,0,0,0,0,0,6
7,Janets,0,578,15,0,0,0,0,0,0,0,0,525,0,0,0,0,0,0,760
8,OfCourse,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,758
9,One Education,0,1484,0,0,0,0,0,377,0,0,0,0,0,0,0,798,128,45,83
10,Oplex Careers,0,0,0,0,0,0,0,0,0,1975,0,0,0,0,0,0,0,0,0
11,Oxford Home Study College,1184,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,The Training Terminal,0,0,0,0,0,70,0,0,0,0,0,0,14,33,50,0,0,0,491
13,Training Express Ltd,0,68,0,0,0,0,0,0,0,216,60,0,0,0,0,0,0,0,0
14,Trendimi,0,0,0,0,0,0,0,0,0,190,0,0,0,0,0,0,0,0,38

In [16]:
# Create a csv file 
pivotGroupedRevenueByTotalQualAndProvider.to_csv("revenueByCertification.csv",index=None)

#### So it turns out, for  ABC awards certification CPD Courses, for CPD Accreditation Group certification One Education, for The CPD Certification Service certication Beaco earns most respectively from 1 March to 19 Mar. There some courses who still earns without any certifications on Reed.